<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistiklerimiz</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
            <div class="heading-elements">
                <span class="avatar">
                    <img src="~/member/theme-assets/images/portrait/small/avatar-s-2.png" alt="avatar">
                </span>
                <span class="avatar">
                    <img src="~/member/theme-assets/images/portrait/small/avatar-s-3.png" alt="avatar">
                </span>
                <span class="avatar">
                    <img src="~/member/theme-assets/images/portrait/small/avatar-s-4.png" alt="avatar">
                </span>
            </div>
        </div>
        <div class="card-content">
            <div class="card-body">
                <h4 class="card-title">İstatistikler</h4>
                Aktif Rezervasyon Sayınız: 4
                <br />
                <h6>Geçmiş Rezervasyon Sayınız: 12</h6>
                <h6>Onay Bekleyen Rezervasyon Sayınız:12</h6>
                <h6>Toplam Misafir Sayımız:1286</h6>
                <h6>Ortalama Puanımız:8.97/10</h6>
            </div>
        </div>
    </div>
</div>